body {
    background: #ADEB00;
}

.container {
    width: 560px;
    margin: 0 auto;
    padding: 0;
    border: 0;
    height: 100%;
    background-color: #3AAFEC;
}

.form {
    color: #3AAFEC;
}

.question {
    color: black;
}

.answer {
    color: #ADEB00;
}

.submit {
    color:
}