.container {
    width: 560px;
    margin: 40px auto;
    padding: 0;
    border: 5px solid #FF7503;
    height: 80%;
    background-color: #3AAFEC;
}

body {
    background: #128CCB;
    background-image: url("sunshine.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    height: 100%;
    font-family: "Margarine",sans-serif;
}

h1 {
    text-align: center;
    color: #ADEB00;
}

h2 {
   color: #FFE000;
   text-align: center;
   font-family: "Margarine",sans-serif;
}

.form {
    color: #3AAFEC;
}

.question {
    color: black;
    font-style: bold;
    text-align: center;
    font-size: 28px;
}

.answer {
    color: #F41971;
    text-align: center;
    font-style: bold;
    font-size: 27px;
    font-family: "Margarine",sans-serif;
}

.submit {
    text-align: center;
    margin: 28px;
}

#formButton{
    font-size: 20px;
    color: #F41971;
    background-color: #FFE000;
    border-radius: 12px;
    border: 2px solid #ADEB00;
    font-family: "Margarine",sans-serif;
}

@media(max-width: 480px){
    body{
        width: 95%;
        height: 95%;
    }

    .container{
        margin: 0;
    }

    .question{
        font-size: 14px;
    }

    .answer{
        font-size: 14px;
    }

    .submit{
        font-size: 14px;
    }

    #formButton{
        font-size: 14px;
    }
}